/* You can add global styles to this file, and also import other style files */

#themecolors .selector,
.cursor {
    cursor: pointer;
}

.container-img {
    display: flex;
    justify-content: center;
}

.img-previa {
    width: 150px;
    height: 150px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.avatar {
    border-radius: 100%;
    width: 30px;
}

.oculto {
    display: none;
}

.fondo-modal-imagen {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 999;
}